@media (min-width: 48em) {
  .sidebar {
    width: 14rem;
  }
}

/* Dr. Mario sidebar image style */
.sidebar-img { 
	margin: 0 auto;
	padding-bottom: 1rem;
}

.contact-icons {
	text-align: center;
}

/* Image captions */
.my-caption {
	font-family: "Times New Roman";
	font-style: italic;
	width: 75%;
	margin: auto;
	text-align: justify;
}

@media (min-width: 48em) {
	.my-caption {
		font-size: 12px;
	}
}	

@media (min-width: 58em) {
	.my-caption {
		font-size: 18px;
	}
}

/* CV headings */
.cv-heading {
	background-color: #304ffe;
	color: white;
    margin-top: 0;
    margin-bottom:0;
    border-style: solid;
    border-color: black;
}

/* Light blue theme */
.theme-base-18 .sidebar {
  background-color: #304ffe;
}
.theme-base-18 .content a,
.theme-base-18 .related-posts li a:hover {
  color: #304ffe;
}
